# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "15673a82b49113d07a0f066fd048267e"
name = "ShopiBundle"
application_url = "https://example.com"
embedded = true

[webhooks]
api_version = "2026-04"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://example.com/api/auth" ]
